<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add funds</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h2 id="Balance"> Dear <%=Name%> Your Account Balance is <%=Balance%></h2>

   <form action="/home" method="get">

 
   <button type="submit" id="back">Back <-</button>
   </form>


    


</body>
</html>