<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
   


 
</head>
<body>
    <div class="navbar">
      <marquee>  Welcome to Bhavya International Bank </marquee>
      <form action="/" method="get">
      <button type="submit" id="logout">Log out</button>
      </form>
    </div>
    <h5 id="user"> Welcome : <%=Name%></h5>
    

    <h1 id="section_header">Experience the Best with BIB , Now Banking at your Fingertips</h1>
    <section id="options">
        <a href="/fundTransfer"><button id="button1">Transfer Funds</button></a>
       <a href="/viewBalance" ><button id="button2">View Balance</button></a>
        <a href="/addFunds"><button id="button3">Add Funds</button></a>
        <a href="/viewProfile"><button id="button5">View my Profile</button></a>
        <a href="/transactionHistory"><button id="button5">Transaction History</button></a>

        <!-- <a href="/closeAccount"><button id="button4">Close Your Account</button></a> -->




    </section>






    
</body>
</html>