<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Login Page</title>

</head>
<body>
    <div class="navbar">
      <marquee>  Welcome to Bhavya International Bank </marquee>
    </div>

    <div class="form">
    <form action="/login" method="post">
        <h1>Welcome to BIB , Please Log in To Proceed </h1>
       

        <label for="name">Account Number:</label>
        <input type="text" id="AccountNumber" name="AccountNumber" placeholder="Enter Your Account Number" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" placeholder="Enter Your Password" required >
      
        <div class="buttons">
        <button type="submit" id="login">Log in</button>
       
    
        </div>


    </form>
    <div class="buttons">
        <a href="/signup"><button id="signup">Sign up</button></a>
    </div>
    </div>

    
   






    
</body>
</html>

